#map {
	height: 650px;
	width: 80%;
	display: inline-block;
}

#header {
	height: 50px;
	width: 78.5%;
	background-color: black;
	padding: 10px;
	display: inline-block;
	border: 5px;
	border-color: #000000;

}

.leaflet-popup-content p {
	margin: 0.5em;
}

#panel {
	width:20%;
	padding:20px;
	vertical-align: top;
	text-align: center;
}

.range-slider {
	width: 75%;
	border-top: 3px;
}

#forward {
	float: right;
	opacity: 0.9;

}

#reverse {
	float: left;
	opacity: 0.9;
}

#info {
	width: 20%;
	padding: 20px;
	display: right;
	text-align:center;
	
}