#map {
	height: 650px;
	width: 80%;
	display: inline-block;
}

/*#header {
	height: 50px;
	width: 78%;
	background-color: orange;
	padding: 10px;
	display: inline-block;
	
	border: 5px;
	border-color: #000000;

}
*/

#panel {
	width:20%;
	padding:20px;
	display: inline-block;
	
}

.range-slider {
	width: 75%;
	border-top: 3px;

}

#forward {
	float: right;
	opacity: 0.9;

}

#reverse {
	float: left;
	opacity: 0.9;
}

#info {
	width: 20%;
	padding: 20px;
	display: left;
	text-align:center;
	vertical-align: top;
}