#map {
	height: 700px;
	width: 80%;
	display: inline-block;
}

#header {
	height: 50px;
	width: 78.5%;
	background-color: black;
	padding: 10px;
	display: inline-block;
	border: 5px;
	border-color: #000000;

}

.leaflet-popup-content p {
	margin: 0.5em;
}

#panel {
	width:20%;
	padding:20px;
	vertical-align: top;
	text-align: center;
}

.range-slider {
	width: 75%;
	border-top: 3px;

}

.sequence-control-container {
    width: 300px;
    height: 90px;
    background-color: rgba(255,255,255,0.8);
    line-height: 5px;
    text-align: center;
    border: solid gray 3px;
}

#forward {
	float: right;
	opacity: 0.9;
	padding: 2px;
	

}

#reverse {
	float: left;
	opacity: 0.9;
	padding: 2px;
}

#info {
	width: 20%;
	padding: 20px;
	display: right;
	text-align: center;
	
}

#temporal-legend {
	background-color: #ffffff;
	border-width: 5px;
	border-color: #000000;
	float:right;
	width: 130px;
	height: 150px;
}